.preformatted {
    font-family: monospace;
    white-space: pre;
}

#sidebar {
    width:500px;
}

#new_poll {
    width:100%;
    height: 200px;
}

.selected_poll_template {
    display:none;
}

.selected_poll {
    border: 1px solid black;
    padding: 10px;
}